@import "reset.scss"
@import "normalize.scss"
// FONT
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap')

// COLORS
:root
    --black: #172339
    --grey: #49566D
    --beige: #F3EDE7
    --bg-color: #FAF8F6
    --purple: #A060FF
    --pink: #CB30E3
    --orange: #FFA84E

// TYPOGRAPHY

$heading-xl: 72px
$heading-l: 48px
$heading-m: 18px
$heading-s: 16px
$quote: 20px

*
    box-sizing: border-box

body
    font-family: 'Epilogue', sans-serif
    background-color: var(--bg-color)
    overflow-x: hidden

[class*="__container"]
    max-width: 1110px
    margin: 0 auto
    @media (max-width: 1199px)
        max-width: 960px
    @media (max-width: 991px)
        max-width: 720px
    @media (max-width: 767px)
        max-width: 689px
    @media (max-width: 575px)
        max-width: 95%
    @media (max-width: 375px)
        max-width: 95%

.header
    padding-top: 50px
    &__container
        display: flex
        justify-content: space-between
        align-items: center

.btn
    border-radius: 6px
    cursor: pointer
    font-size: 16px
    font-weight: 700
    line-height: 32px
    letter-spacing: -0.18px
    transition: all .3s ease
    background: transparent
    &_primary
        padding: 15px 31px
        border: none
        background-color: var(--black)
        color: #fff
        &:hover
            background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%)
    &_secondary
        background-color: transparent
        padding: 12px 24px
        border: 1px solid var(--black)
        @media (any-hover: hover)
            &:hover
                background-color: var(--black)
                color: #fff
        @media (max-width: 375px)
            font-size: 14px
            padding: 12px 16px

.hero-section
    padding-top: 67px
    @media (max-width: 991px)
        margin-bottom: 100px
    @media (max-width: 575px)
        padding-top: 0
    &__container
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        height: 600px
        @media (max-width: 991px)
            flex-wrap: wrap
        @media (max-width: 575px)
            height: 990px
            align-items: flex-start
    &__textbox
        max-width: 635px
        position: relative
        @media (max-width: 991px)
            max-width: 494px
            top: 10%
    &__title
        color: var(--black)
        font-size: $heading-xl
        font-feature-settings: 'clig' off, 'liga' off
        font-weight: 400
        line-height: 78px
        letter-spacing: -1px
        margin: 0
        margin-bottom: 40px
        span
            font-weight: 700
        @media (max-width: 991px)
            font-size: 56px
            line-height: 64px
        @media (max-width: 375px)
            font-size: 38px
            line-height: 44px
            margin-bottom: 32px
            letter-spacing: -0.528px
    &__text
        max-width: 350px
        font-size: 18px
        color: var(--grey)
        margin-bottom: clamp(2rem, 1.56rem + 1.88vw, 3.25rem)
        line-height: 32px
        @media (max-width: 991px)
            font-size: 16px
            line-height: 28px
    svg
        width: 289px
        height: 35px
        position: absolute
        top: -12%
        right: 9%
        @media (max-width: 991px)
            width: 231px
        @media (max-width: 575px)
            display: none
        @media (max-width: 375px)
            display: block
            width: 151px
    &__img
        position: absolute
        left: 42.6%
        height: 100%
        width: auto
        z-index: -10
        @media (max-width: 991px)
            height: 482px
            left: initial
            top: 0
            right: 0
        @media (max-width: 575px)
            position: relative
            top: 15%
            height: 240px
            width: 100%
        img
            height: 100%
            @media (max-width: 575px)
                width: 100%

.stats
    display: flex
    flex-direction: column
    gap: 63px
    padding-right: 82px
    @media (max-width: 991px)
        width: 100%
        flex-direction: row
        justify-content: space-between
        padding-right: 0
        margin-top: 200px
    @media (max-width: 575px)
        flex-direction: column
        transform: translateX(40%)
    @media (max-width: 375px)
        transform: translateX(35%)
    &__number
        font-size: $heading-l
        font-weight: 700
        line-height: 56px
        letter-spacing: -0.5px
        color: var(--black)
    &__desc
        font-size: $heading-s
        font-weight: 400
        line-height: 26px
        letter-spacing: 2.5px
        text-transform: uppercase

.section-quote
    padding-top: 155px
    position: relative
    @media (max-width: 575px)
        padding-top: 305px
    @media (max-width: 375px)
        padding-top: 260px
    &__container
        @media (max-width: 575px)
            max-width: 100%
    &__content
        height: 545px
        padding-right: 125px
        background-color: var(--black)
        border-radius: 15px
        display: flex
        justify-content: flex-end
        align-items: center
        position: relative
        @media (max-width: 991px)
            height: 684px
            padding: 64px 58px
            align-items: flex-end
        @media (max-width: 575px)
            height: 748px
            padding: 64px 26px
    &__text-content
        font-feature-settings: 'clig' off, 'liga' off
        max-width: 350px
        color: var(--beige)
        @media (max-width: 991px)
            text-align: center
            max-width: 100%
    &__title
        font-size: $heading-l
        color: var(--bg-color)
        line-height: 56px
        letter-spacing: -0.5px
        margin-bottom: 40px
        span
            font-weight: 700
        @media (max-width: 991px)
            font-size: 40px
            line-height: 48px
    &__quote
        font-size: $quote
        line-height: 175%
        margin-bottom: 40px
        @media (max-width: 991px)
            font-size: 18px
            line-height: 32px
    &__name
        color: var(--bg-color)
        font-size: $heading-m
        text-transform: uppercase
        font-weight: 700
        line-height: 32px
        letter-spacing: -0.18px
    &__role
        font-size: $heading-s
        text-transform: uppercase
        line-height: 26px
        letter-spacing: 2.5px
    &__imgbox
        height: 110%
        width: auto
        z-index: 100
        position: absolute
        bottom: 0
        left: 10%
        @media (max-width: 991px)
            height: 402px
            bottom: initial
            left: 34%
            top: -26%
        @media (max-width: 575px)
            left: 30%
            top: -23%
        @media (max-width: 575px)
            left: 18%
        img
            height: 100%
    &__deco
        position: absolute
        left: 47%
        top: 31%
        @media (max-width: 1199px)
            display: none
        @media (max-width: 991px)
            display: block
            width: 49px
            top: 38%
        @media (max-width: 375px)
            left: 42%
            top: 36%

.circle
    width: 294px
    height: 294px
    position: absolute
    bottom: 7%
    left: 15%
    border-radius: 294px
    opacity: 0.4762355387210846
    background: #DB65E2
    filter: blur(67.95704650878906px)
    @media (max-width: 991px)
        width: 197px
        height: 197px
        bottom: initial
        top: 0
        left: 36%
    @media (max-width: 575px)
        width: 100px
        height: 100px
        top: 10%
        left: 40%
.bg-change
    position: absolute
    bottom: 0
    width: 100%
    height: 265px
    background-color: var(--beige)
    z-index: -101

.footer
    width: 100%
    padding-top: 95px
    padding-bottom: 72px
    background-color: var(--beige)
    &__container
        display: flex
        justify-content: space-between
        @media (max-width: 375px)
            flex-direction: column
            align-items: center
            gap: 33px
    &__copyright
        color: var(--grey)
        font-size: 15px
        line-height: 32px
        letter-spacing: 0.083px
    &__socials
        display: flex
        gap: 28px
        transition: opacity .3s
        svg
            fill: #172339
            cursor: pointer
            @media (any-hover: hover)
                &:hover
                    opacity: 0.5
